<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>FrankensteiClash</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>RCTNewArchEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>NSCameraUsageDescription</key>
	<string>This app needs access to the camera to take photos or videos.</string>

	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs access to your photo library to select images.</string>

	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This app needs permission to save images to your photo library.</string>

	<key>NSMicrophoneUsageDescription</key>
	<string>This app needs access to the microphone for recording and audio playback.</string>

	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This app needs your location to display maps and nearby content.</string>

	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This app uses your location to provide personalized experiences.</string>

	<key>NSLocationAlwaysUsageDescription</key>
	<string>This app needs continuous access to your location for full functionality.</string>

	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>This app may use Bluetooth to connect with nearby devices.</string>

	<key>NSCalendarsUsageDescription</key>
	<string>This app may need access to your calendar for scheduling events.</string>

	<key>NSContactsUsageDescription</key>
	<string>This app may need access to your contacts to share content easily.</string>

	<key>NSMotionUsageDescription</key>
	<string>This app may use motion data to improve user experience.</string>

</dict>
</plist>
